<%- include('partials/header') -%>

<main>
    <div class="container main-info">
        <h1 id="home-title">The Human Library</h1>
        <p>Open your mind and broaden your experiences</p>
        <!-- <p>Join the community to share your story and engage more</p> -->
        <div class="main-buttons">
            <a class="highlight-button" href="/library">Read people's story</a>
            <!-- <button class="highlight-button" id="access-instructions">Join</button> -->
        </div>
    </div>
    <div class="main-image"> 
    </div>
</main>
<!-- <section class="pop-up-tab">
    <div>
        <ul>
            <li><a href="/login">Log in</a></li>
            <li><a href="/signup">Sign up</a></li>
        </ul>
    </div>
</section> -->

<%- include('partials/footer') -%>