<%- include('partials/header') -%>

<main class="home-main">
    <div class="container main-info">
        <h1 id="home-title">The Human Library</h1>
        <p>Open your mind and broaden your experiences</p>
        <div class="main-buttons">
            <a class="highlight-button home-main-btn" href="/library">Read people's story</a>
        </div>
    </div>
    <div class="main-image"> 
    </div>
</main>

<%- include('partials/footer') -%>